# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/

# Data
data/
uploads/
results/

# Models
models/
reports/image/tensorboard

#chat
chat_bot/
data_chat/


