<!-- Nút chat -->
<div id="chat-toggle">
    💬
</div>

<!-- Hộp chat -->
<div id="chat-container">
    <div id="chat-header">
        <span>Medical ChatBot</span>
        <div>
            <button id="clear-chat">
                🗑
            </button>
            <button id="chat-close">
                ✖
            </button>
        </div>
    </div>

    <div id="chat-messages">


    </div>


    <div id="chat-input-area">
        <input
                id="chat-input"
                type="text"
                placeholder="Nhập câu hỏi...">

        <button id="send-btn">
            Gửi
        </button>

    </div>

</div>